@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: black;
    color: gold;
    font-family: 'robotoregular', sans-serif;
}
select{
    width: 20%;
}
#title{
    text-align: center;
}

#thanks a, a:visited{
    color: rgb(255, 69, 0);
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 60%;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid gold;
    border-radius: 1em;
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
    
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 30%;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* To give the same size to all text fields */
    width: 300px;
    box-sizing: border-box; /* To harmonize the look & feel of text field border */
    border: 1px solid gold;
    background-color: black;
    color: white;
}

input:focus,
textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
    /* To give enough room to type some text */
    height: 5em;
}

.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space between the labels and their text fields */
    margin-left: 0.5em;
}